apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: team-app
  
  # --- این بلاک "annotations" گمشده بود و اضافه شد ---
  annotations:
    # ۱. به ربات می‌گوییم کدام ایمیج را تماشا کند
    argocd-image-updater.argoproj.io/image-list: backend=ghcr.io/hjali7/team-app-backend
    # ۲. می‌گوییم از استراتژی "digest" (آپدیت مستقیم) استفاده کند
    argocd-image-updater.argoproj.io/backend.strategy: digest
  # ---
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          # ربات این خط را مستقیماً آپدیت خواهد کرد
          image: ghcr.io/hjali7/team-app-backend:latest
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: postgres-secret
          env:
            - name: POSTGRES_HOST
              value: "postgres-svc"
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: team-app
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP