apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: team-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          # ربات این خط را مستقیماً آپدیت خواهد کرد
          image: "ghcr.io/hjali7/team-app-backend:3a8149f3bf6aa9236804af57a78a467b96bfcf6c"
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: postgres-secret
          env:
            - name: POSTGRES_HOST
              value: "postgres-svc"
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: team-app
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
  template:
    spec:
      containers:
        - image: "ghcr.io/hjali7/team-app-backend:3a8149f3bf6aa9236804af57a78a467b96bfcf6c"
