apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: team-app
  
  # --- این بلاک "annotations" گمشده بود و اضافه شد ---
  annotations:
    # ۱. به ربات می‌گوییم کدام ایمیج را تماشا کند
    argocd-image-updater.argoproj.io/image-list: frontend=ghcr.io/hjali7/team-app-ui
    # ۲. می‌گوییم از استراتژی "digest" (آپدیت مستقیم) استفاده کند
    argocd-image-updater.argoproj.io/frontend.strategy: digest
  # ---
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          # ربات این خط را مستقیماً آپدیت خواهد کرد
          image: ghcr.io/hjali7/team-app-ui:latest
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: team-app
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP