# base/04-ingress.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: team-app-ingress
  namespace: team-app
spec:
  # این خط مهم است و به K3s می‌گوید که از Traefik استفاده کند
  ingressClassName: traefik
  rules:
    - host: "team.looparc.ir"
      http:
        paths:
          # قانون ۱: ترافیک بک‌اند
          # این قانون *باید* قبل از قانون ریشه (/) بیاید
          # تمام درخواست‌ها به team.looparc.ir/api/...
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend-svc # <-- به سرویس بک‌اند می‌رود
                port:
                  number: 80 # (پورت سرویس بک‌اند)

          # قانون ۲: ترافیک فرانت‌اند (قانون پیش‌فرض)
          # تمام درخواست‌های دیگر به team.looparc.ir/
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-svc # <-- به سرویس فرانت‌اند می‌رود
                port:
                  number: 80 # (پورت سرویس فرانت‌اند)
